<center>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">State_Name</a>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <td>state:- <%= @state.name %></td>
          <br>
          <td>Taluka:- <%= @state.taluka_id %></td>
          </div>
        <%= link_to 'Back', states_path %>
      </div>
    </div>
  </div>
<center>

